@import url("https://fonts.googleapis.com/css2?family=Laila:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: "Laila", sans-serif;
  box-sizing: border-box;
  
}
html{
  max-width: 100vw;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }